<div class="container mt-5 p-3 bg-gray-100 rounded shadow-md">
    <h2 class="text-lg font-semibold mb-3">Internal Server Error</h2>
    @if (error) {
        <h5 class="text-red-600">Error:{{ error.message }}</h5>
        <p class="font-bold mb-2">This error comes from server</p>
        <p class="">What to do next?</p>
        <ol class="list-disc list-inside">
            <li>Try refreshing the page</li>
            <li>Check the network tab for more details</li>

        </ol>
        <h5 class="text-red-600 my-3 font-bold text-lg">Stack Trace</h5>
        <mat-card class="p-4 bg-white">
            <code class="block whitespace-pre-wrap">{{error.details}}</code>
        </mat-card>
    }
</div>
